<%= form_for @post, html:{onsubmit: 'return getMarkdownContent(this)', id:'postEditorForm'} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <%= f.text_area :raw_content, style: 'display:none' %>
  <div id="postEditor"><%= @post.raw_content || '# hi, chad' %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
      $('#postEditor').markdownEditor({
        imageUpload: true,
        uploadPath: '/images',
        preview: true,
        theme: 'tomorrow',
        theme_second: 'tomorrow_night',
        onPreview: function (content, callback) {
          $.ajax({
            url: '<%= convert_posts_path %>',
            type: 'POST',
            dataType: 'html',
            data: {content: content},
          })
          .done(function(result) {
            // Return the html:
            callback(result);
          });
        }

      });
    });

    function getMarkdownContent(form){
      $("#post_raw_content").val($('#postEditor').markdownEditor('content'));
      return true;
    }
</script>